/* Скидання стилів */
@import url("reset.css");

@import url("fonts.css");

/* Значення за замовченням  */
.wrapper {
  position: relative;
  min-height: 100%;
  overflow: clip;

  display: flex;
  flex-direction: column;
}

.wrapper > main {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: 1392px;
  margin: 0 auto;
}
/* ------------------------------------------------------------------- */

/* Загальні стилі */
body {
  font-family: "Lato", sans-serif;
  line-height: 1.25;
  color: #2f302c;
}

/* Стилі шапки */
.header {
  background-color: #f6f6f6;
}

.header__list {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.header__link {
  position: relative;
  padding: 15px 20px;
  font-weight: 700;
}

.header__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #2f302c;
  transition: width 0.3s ease;
  z-index: 1;
}

.header__link:hover::after {
  width: 100%;
}

/* І частина дз */
.featured {
  padding: 82px 0;
}

.featured__title {
  margin-bottom: 36px;
  font-weight: 800;
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
}

.featured__filter {
  margin-bottom: 72px;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 48px;
}

.filter__item {
  position: relative;
}

.filter__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #2f302c;
  transition: width 0.3s ease;
}

.filter__item:hover::after {
  width: 100%;
}

.filter__item--active::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #2f302c;
}

.filter__button {
  padding: 0px 0px 8px;
  background-color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #2f302c;
  text-transform: uppercase;
  cursor: pointer;
}

.featured__list {
  display: flex;
  gap: 72px 36px;
  flex-wrap: wrap;
}

.featured__item {
  flex-basis: 440px;
  flex-shrink: 1;
  flex-grow: 1;
}

.featured__link {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.featured__link:hover {
  transform: scale(1.03);
  box-shadow: 0 12px 24px #2f302c;
}

.product-card__image {
  margin-bottom: 32px;
}

.product-card__meta {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.product-card__title {
  font-weight: 500;
  text-transform: uppercase;
}

.product-card__price {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.4;
}

/* ІІ частина дз */
.benefits {
  padding: 82px 0;
}

.benefits__container {
  max-width: 1180px;
  margin: 0 auto;
}

.benefits__title {
  margin-bottom: 72px;
  font-weight: 800;
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
}

.benefits__list {
  display: flex;
  flex-wrap: wrap;
  gap: 68px;
}

.benefits__item {
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: center;
  flex-basis: 348px;
  flex-grow: 1;
  flex-shrink: 1;
}

.benefits__title-item {
  font-weight: 700;
  text-transform: uppercase;
}

.benefits__description {
  font-weight: 500;
  color: #7e7f7c;
  text-align: center;
}

/* Стилі футера */
.footer__text {
  padding: 15px 20px;
  font-weight: 700;
  text-align: center;
  background-color: #f6f6f6;
}
